@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-color: #050505; color: #ffffff; }

/* Custom scrollbar for that modern look */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #050505; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #444; }